html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.prod-image {
    max-height: 200px;
    object-fit: contain;
    padding: 8px;   
}

.image-cell-block {
    text-align: center;
}
.image-cell {
    transition: .2s;
    height: 70px;
    border-radius: 3px;
}
.image-cell:hover {
    transform: scale(2.5);
}